<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Database Connection Settings -->
    <add key="ConnectionType" value="oracle" />
    <add key="ConnectionServer" value="pantheon" />
    <add key="ConnectionDataBase" value="" />
    <add key="ConnectionPort" value="3306" />
    <add key="ConnectionUserID" value="neu" />
    <add key="ConnectionPassword" value="XEFQ12AB" />
  </appSettings>
</configuration>